#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card{
  background-color: #ffd7d7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 300px;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 30%;
  display: block;
  margin: 0 auto;
}

.card p{
  font-size: 20px;
  color: white;
}
